<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class = "gift edit">
  <h2>Mark purchased</h2>

  <%= form_for(:gift, :url => {:action => 'update', :id => @gift.id}) do |f| %>

  <!--:f is what the partial template is using, f is what this layout uses -->
  <p>
    <%= f.label :purchased %><br>
    <%= f.check_box :purchased %>
  </p>

  <div class="form buttons">
    <%= submit_tag("Edit gift", :class => 'btn') %>
  </div>

  <% end %>
</div>