<h1>Gifts</h1>

<%= link_to("Add gift to wishlist", {:action => 'new'}, :class => 'back-link') %>
<table>
  <tr>
    <th><h2>Item</h2></th>
    <th><h2>Wanted by</h2></th>
    <th><h2>Purchased</h2></th>
    <th></th>
  </tr>
<% @gifts.each do |gift| %>
  <tr>
    <td><%= gift.name %></td>
    <td><%= gift.person_id %></td>
    <td><%= gift.purchased ? 'yes' : '' %></td>
    <td class="actions">
      <%= link_to("Show", {:action => 'show', :id => gift.id }, :class =>'action') %>  <%= link_to("Edit", {:action => 'edit', :id => gift.id }, :class =>'action') %>
      <%= link_to("Delete", {:action => 'delete', :id => gift.id }, :class => 'action') %>
  </tr>
  <% end %>
</table>