<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class = "gift new">
  <h2>Add Gift</h2>

  <%= form_for(:gift, :url => {:action => 'create'}) do |f| %>

  <!--:f is what the partial template is using, f is what this layout uses -->
  <%= render(:partial => "form", :locals => {:f => f}) %>

  <p><%= f.label(:person_id, "Person") %></p>
    
    <% people = options_from_collection_for_select(Person.all, :id, :name) %>
    <%= f.select(:person_id, people) %>
  </p>

  <div class="form buttons btn">
    <%= submit_tag("Add gift", :class => 'btn') %>
  </div>

  <% end %>
</div>
