<h1><%= @person.name %>'s wish list</h1>
<table class="table table-striped">
  <tr>
    <th style = "width: 40%">Item</th>
    <th>Notes</th>
  </tr>
<% @person.gifts.order('name ASC').each do |gift| %>
  <tr>
    <td><span class=<%= 'purchased' if gift.purchased == true %>><a href="<%= gift.url %>"><%= gift.name %></a></span></td>
    <td><%= gift.comments %></td>
  </tr>
<% end %>
</table>
 <%= link_to("Update wish list", {:controller => 'gift', :action => 'index'}, :class => 'pull-right update') %>


